<% include partials/header.ejs %>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp [Priyesh Hingrajia's First Application]</h1>
        <p>View my hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds">Go to campgrounds....</a>
        </p>
    </header>


<% include partials/footer.ejs %>

</div>